@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(-45deg, white , black);
}



.head{
    display: block;
    background-color: rgba(0, 0, 0, 0.405);
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    height: 70px;
    width: 330px;
}


.section-img-a{
    display: block;
    
}

.foto-a{
    display: inline;
    width: 50px; 
    margin: 010px;
    margin-left: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.513);

}

.logo{
    margin: 4px;
    display: inline;
    border-radius: 50%;
    width: 30px;
    position: relative;
    top: -60px;
    left: 170px;
    box-shadow: 0px 0px 9px #626280a2;
}

main{
    width: 91vw;
    height: 200vh;
    position: relative; 
    overflow: hidden;
}

.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.site{
    width: 130px;
    height: 120px;
    border: 3px solid rgba(255, 255, 255, 0.444);
    border-radius: 8px;
    box-shadow: 2px 2px 0px rgba(5, 5, 5, 0.896);
}


.sec-01{
    position: relative;
    top: 20px;
    left: 05px;
}

.sec-01-02{
    margin-top: 20px;
    margin-left: 30px ;
}

.sec-01-02 > h2{
    font-size: 20px;
    text-align: left;
    margin-left: -12px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.363);

}


.sec-02{
   position: absolute;
   top: 180px;
   left: 172px;
}

.sec-02-02{
    margin-top: 20px;
    margin-left: 30px ;
}

.sec-02-02 > h2{
    font-size: 20px;
    text-align: left;
    margin-left: -6px;
    margin-bottom: -15px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.429);

}

.sec-03{
    position: relative;
    top: 60px;
    left: 05px;
 }
 
 .sec-03-02{
     margin-top: 20px;
     margin-left: 30px ;
 }
 
 .sec-03-02 > h2{
     font-size: 15px;
     text-align: left;
     margin-left: -25px;
     margin-bottom: -15px;
     text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.59);

 }

 .sec-04{
    position: relative;
    top: 5px;
    left: 172px;
 }
 
 .sec-04-02{
     margin-top: 20px;
     margin-left: 30px ;
 }
 
 .sec-04-02 > h2{
     font-size: 18px;
     text-align: left;
     margin-left: -16px;
     margin-bottom: -15px;
     text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.798);

 }

