@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, #010110 ,#121243,#151545);
    width: 98vw;
    height: 100vh;
    overflow: hidden;
}

.img-a{
    display: block;
    
}

.foto-a{
   display: block;
    width: 70px; 
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.513);

}

.logo{
    margin: 4px;
    display: inline;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -92px;
    left: 205px;
    box-shadow: 0px 0px 12px #494994;
}

.logo:hover{
    
    
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    transition: transform 0.5s;
}