@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(-45deg, white , black);
    width: 100vw;
    height: 100vh;
    
}

main{
    position: relative;
    width: 100vw;
}

.head{
    display: block;
    background-color: rgba(0, 0, 0, 0.405);
    margin-top: -15px;
    border-radius: 10px;
    height: 120px;
}


.img-a{
    display: block;
    
}

.foto-a{
    display: inline;
    width: 70px; 
    margin: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.513);

}

.logo{
    margin: 4px;
    display: inline;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -99px;
    left: 205px;
    box-shadow: 0px 0px 9px #444489a5;
}

.logo:hover{
    
    /**/
   
}

.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.div-img{
    
}

.site{
    
    margin-top: 30px;
    margin-left: 10px;
    width: 150px;
    height: 140px;
    border-radius: 6%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.46);
}